@import url("https://fonts.googleapis.com/css?family=Fira+Code");

:root {
    --background-color: #0f111a;
    --header-background-color: #1d1f28;
    --red-color: #e94b35;
    --yellow-color: #f0f000;
    --green-color: #1aaf5c;
    --scrollbar-color: #666;
}

body {
    overflow-y: hidden;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 470px;
    position: absolute;
    top: 70px;
}

.code-container {
    border-radius: 10px;
    background: var(--background-color);
    width: 631px;
    height: 400px;
}

.code-container header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    background-color: var(--header-background-color);
    width: 100%;
    height: 47px;
    gap: 10px;
}

.code-container div {
    width: 16px;
    height: 16px;
    border-radius: 100%;
}

.redBall {
    background-color: var(--red-color);
}
.yellowBall {
    background-color: var(--yellow-color);
}
.greenBall {
    background-color: var(--green-color);
}

textarea {
    color: white;
    background: transparent;
    width: 100%;
    height: 86%;
    resize: none;
    outline: none;
    border: none;
    font-family: "Fira Code", monospace;
    border-radius: 10px;
}

textarea::-webkit-scrollbar {
    width: 12px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}
